$test-border: 2px solid;

.blogItem-ctn {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    padding: 1em;
    margin: 20px;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 25px 0px 25px 0px;
    box-shadow: 10px 10px #f1d4cf;
}

.blogItem-left {
}

.blogItem-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.blogItem-title {

}

.blogItem-desc {

}