*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 10px auto;
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
}

#root {
    height: 100%;
}